html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;

    font-family: sans-serif;
    font-weight: 300;
    color: rgb(27, 27, 26);
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0 0 14px 0;
}

p:last-child {
    margin: 0;
}

strong {
    font-weight: 500;
}

.wrapper {
    max-width: 400px;
    margin: 28px;
}

.logo {
    margin-bottom: 28px;
}
